@{
    ViewBag.Title = "Contact";
}

<div class="gallery">
    <div class="container">
        <h2 class="tittle-one">@ViewBag.Title.</h2>
        <!--div><p>@ViewBag.Message</p></div-->
        <div class="services-bottom-grids">
            <div class="col-md-4 services-bottom-grid">
                <div class="services-bottom-grd-left wel-grid">
                    <div class="time-service">
                        <figure class="icon">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                        </figure>
                    </div>
                </div>
                <div class="services-bottom-grd-right">
                    <h4>Our Office : </h4>
                    <p>
                       
                            One Microsoft Way<br />
                            Redmond, WA 98052-6399<br />
                            <abbr title="Phone">P:</abbr>
                            425.555.0100
                       
                            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                        
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>